<link rel="stylesheet" href="css/bellegarde.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/bellegarde.png" alt="bellegarde"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="left">
        MC_BJS_02 <a target="_blank" href="#!/histogram/47900914615323"><span class="value">{{ $ctrl.MC_BJS_02 | number: 2 }} &#956;m/m</span></a><br/>
        MC_BJS_03_A <a target="_blank" href="#!/histogram/47900931392539"><span class="value">{{ $ctrl.MC_BJS_03_A | number: 2 }} &#956;m/m</span></a><br/>
        MC_BJS_03_B <a target="_blank" href="#!/histogram/47900948169755"><span class="value">{{ $ctrl.MC_BJS_03_B | number: 2 }} &#956;m/m</span></a><br/>
        MC_BSS_HOR_4B <a target="_blank" href="#!/histogram/47901417931803"><span class="value">{{ $ctrl.MC_BSS_HOR_4B | number: 2 }} &#956;m/m</span></a><br/>
        MC_BSS_HOR_3B <a target="_blank" href="#!/histogram/47901434709019"><span class="value">{{ $ctrl.MC_BSS_HOR_3B | number: 2 }} &#956;m/m</span></a><br/>
        MC_BSS_HOR_2B <a target="_blank" href="#!/histogram/47901451486235"><span class="value">{{ $ctrl.MC_BSS_HOR_2B | number: 2 }} &#956;m/m</span></a><br/>
        4M_BS_VER_05 <a target="_blank" href="#!/histogram/47901468263451"><span class="value">{{ $ctrl.M4_BS_VER_05 | number: 2 }} &#956;m/m</span></a><br/>
        4M_BS_VER_04 <a target="_blank" href="#!/histogram/47901485040667"><span class="value">{{ $ctrl.M4_BS_VER_04 | number: 2 }} &#956;m/m</span></a><br/>
        4M_BS_VER_03 <a target="_blank" href="#!/histogram/47901501817883"><span class="value">{{ $ctrl.M4_BS_VER_03 | number: 2 }} &#956;m/m</span></a><br/>
        3B_BS_HOR_01 <a target="_blank" href="#!/histogram/47901518595099"><span class="value">{{ $ctrl.B3_BS_HOR_01 | number: 2 }} &#956;m/m</span></a><br/>
        3B_BS_HOR_02 <a target="_blank" href="#!/histogram/47901535372315"><span class="value">{{ $ctrl.B3_BS_HOR_02 | number: 2 }} &#956;m/m</span></a><br/>
        3B_BS_HOR_03 <a target="_blank" href="#!/histogram/47901552149531"><span class="value">{{ $ctrl.B3_BS_HOR_03 | number: 2 }} &#956;m/m</span></a><br/>
        4B_BS_VER_02 <a target="_blank" href="#!/histogram/47901568926747"><span class="value">{{ $ctrl.B4_BS_VER_02 | number: 2 }} &#956;m/m</span></a><br/>
        2B_BS_HOR_01 <a target="_blank" href="#!/histogram/47901585703963"><span class="value">{{ $ctrl.B2_BS_HOR_01 | number: 2 }} &#956;m/m</span></a><br/>
        4M_BS_VER_01 <a target="_blank" href="#!/histogram/47901602481179"><span class="value">{{ $ctrl.M4_BS_VER_01 | number: 2 }} &#956;m/m</span></a><br/>
    </div>

</div>