@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 65%;
    }

    #left {
        position: fixed;
        top: 30vh;
        left: 5vw;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #right {
        position: fixed;
        right: 30vw;
        top: 10vh;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B4_BS_01 {
        position: fixed;
        left: 12vw;
        top: 42vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_BS_01 {
        position: fixed;
        left: 12vw;
        top: 46vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TCO_BS_01 {
        position: fixed;
        left: 12vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_BS_01 {
        position: fixed;
        left: 12vw;
        top: 53vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B2_BS_01 {
        position: fixed;
        left: 12vw;
        top: 58vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_03 {
        position: fixed;
        left: 30vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_02 {
        position: fixed;
        left: 40vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BCS_BS_03 {
        position: fixed;
        left: 60vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_03 {
        position: fixed;
        right: 5vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_02 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

}

@media screen and (min-height: 1100px) and (max-height: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 3vw;
        width: 75%;
    }

    #left {
        position: fixed;
        top: 30vh;
        left: 5vw;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #right {
        position: fixed;
        right: 30vw;
        top: 10vh;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B4_BS_01 {
        position: fixed;
        left: 12vw;
        top: 42vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_BS_01 {
        position: fixed;
        left: 12vw;
        top: 46vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TCO_BS_01 {
        position: fixed;
        left: 12vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_BS_01 {
        position: fixed;
        left: 12vw;
        top: 53vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B2_BS_01 {
        position: fixed;
        left: 12vw;
        top: 58vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_03 {
        position: fixed;
        left: 30vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_02 {
        position: fixed;
        left: 40vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BCS_BS_03 {
        position: fixed;
        left: 60vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_03 {
        position: fixed;
        right: 5vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_02 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 65%;
    }

    #left {
        position: fixed;
        top: 30vh;
        left: 5vw;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #right {
        position: fixed;
        right: 30vw;
        top: 10vh;
        width: 15vw;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B4_BS_01 {
        position: fixed;
        left: 12vw;
        top: 42vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_BS_01 {
        position: fixed;
        left: 12vw;
        top: 46vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TCO_BS_01 {
        position: fixed;
        left: 12vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_BS_01 {
        position: fixed;
        left: 12vw;
        top: 53vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B2_BS_01 {
        position: fixed;
        left: 12vw;
        top: 58vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_03 {
        position: fixed;
        left: 30vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_BS_02 {
        position: fixed;
        left: 40vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BCS_BS_03 {
        position: fixed;
        left: 60vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_03 {
        position: fixed;
        right: 5vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_BSS_02 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}