@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #pageTitle {
        top: 7vh;
        left: 5vw;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 10vw;
        width: 55vw;
    }

    #v101-106 {
        display: block;
        position: fixed;
        top: 83vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v107-109 {
        display: block;
        position: fixed;
        top: 74vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v110-112 {
        display: block;
        position: fixed;
        top: 76vh;
        left: 38vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v113-118 {
        display: block;
        position: fixed;
        top: 61vh;
        left: 32vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v119-121 {
        display: block;
        position: fixed;
        top: 70vh;
        left: 24vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v122-124 {
        display: block;
        position: fixed;
        top: 81vh;
        left: 31vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v201-206 {
        display: block;
        position: fixed;
        top: 20vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v207-209 {
        display: block;
        position: fixed;
        top: 21vh;
        left: 41vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v210-212 {
        display: block;
        position: fixed;
        top: 18vh;
        left: 33vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v213-218 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 25vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v219-221 {
        display: block;
        position: fixed;
        top: 48vh;
        left: 36vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v222-224 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 35vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v407-409 {
        display: block;
        position: fixed;
        top: 87vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v410-412 {
        display: block;
        position: fixed;
        top: 78vh;
        left: 16vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v419-421 {
        display: block;
        position: fixed;
        top: 62vh;
        left: 23vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v422-424 {
        display: block;
        position: fixed;
        top: 55vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    a {
        color: gray;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1081px) and (min-width: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #pageTitle {
        top: 2vh;
        left: 5vw;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 10vw;
        width: 55vw;
    }

    #v101-106 {
        display: block;
        position: fixed;
        top: 83vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v107-109 {
        display: block;
        position: fixed;
        top: 74vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v110-112 {
        display: block;
        position: fixed;
        top: 76vh;
        left: 38vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v113-118 {
        display: block;
        position: fixed;
        top: 61vh;
        left: 32vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v119-121 {
        display: block;
        position: fixed;
        top: 70vh;
        left: 24vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v122-124 {
        display: block;
        position: fixed;
        top: 81vh;
        left: 31vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v201-206 {
        display: block;
        position: fixed;
        top: 20vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v207-209 {
        display: block;
        position: fixed;
        top: 21vh;
        left: 41vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v210-212 {
        display: block;
        position: fixed;
        top: 18vh;
        left: 33vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v213-218 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 25vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v219-221 {
        display: block;
        position: fixed;
        top: 48vh;
        left: 36vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v222-224 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 35vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v407-409 {
        display: block;
        position: fixed;
        top: 87vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v410-412 {
        display: block;
        position: fixed;
        top: 78vh;
        left: 16vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v419-421 {
        display: block;
        position: fixed;
        top: 62vh;
        left: 23vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v422-424 {
        display: block;
        position: fixed;
        top: 55vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    a {
        color: gray;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 10vw;
        width: 55vw;
    }

    #v101-106 {
        display: block;
        position: fixed;
        top: 83vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v107-109 {
        display: block;
        position: fixed;
        top: 74vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v110-112 {
        display: block;
        position: fixed;
        top: 76vh;
        left: 38vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v113-118 {
        display: block;
        position: fixed;
        top: 61vh;
        left: 32vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v119-121 {
        display: block;
        position: fixed;
        top: 70vh;
        left: 24vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v122-124 {
        display: block;
        position: fixed;
        top: 81vh;
        left: 31vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v201-206 {
        display: block;
        position: fixed;
        top: 20vh;
        left: 50vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v207-209 {
        display: block;
        position: fixed;
        top: 21vh;
        left: 41vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v210-212 {
        display: block;
        position: fixed;
        top: 18vh;
        left: 33vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v213-218 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 25vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v219-221 {
        display: block;
        position: fixed;
        top: 48vh;
        left: 36vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v222-224 {
        display: block;
        position: fixed;
        top: 40vh;
        left: 35vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v407-409 {
        display: block;
        position: fixed;
        top: 87vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v410-412 {
        display: block;
        position: fixed;
        top: 78vh;
        left: 16vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v419-421 {
        display: block;
        position: fixed;
        top: 62vh;
        left: 23vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    #v422-424 {
        display: block;
        position: fixed;
        top: 55vh;
        left: 14vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.5vmin;
        background-color: #333333;
    }

    a {
        color: gray;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}