@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 90vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #sgft {
        position: fixed;
        left: 5vw;
        bottom: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4100 {
        position: fixed;
        left: 5vw;
        bottom: 15vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4101 {
        position: fixed;
        left: 5vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #gas {
        position: fixed;
        right: 20vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #outer_pressure {
        position: fixed;
        right: 10vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure {
        position: fixed;
        left: 30vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure_2 {
        position: fixed;
        right: 10vw;
        top: 36vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient_diff {
        position: fixed;
        left: 5.0vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe {
        position: fixed;
        left: 6vw;
        top: 35vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe1 {
        position: fixed;
        left: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe2 {
        position: fixed;
        left: 45vw;
        top: 22vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe3 {
        position: fixed;
        left: 45vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe4 {
        position: fixed;
        left: 5vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #bottom {
        position: fixed;
        left: 23vw;
        top: 68vh;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
        background-color: #333333;
    }
}

@media screen and (min-height: 1080px) and (max-height: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 90vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #sgft {
        position: fixed;
        left: 5vw;
        bottom: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4100 {
        position: fixed;
        left: 5vw;
        bottom: 15vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4101 {
        position: fixed;
        left: 5vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #gas {
        position: fixed;
        right: 20vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #outer_pressure {
        position: fixed;
        right: 15vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure {
        position: fixed;
        left: 30vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure_2 {
        position: fixed;
        right: 15vw;
        top: 36vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient_diff {
        position: fixed;
        left: 5.0vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe {
        position: fixed;
        left: 6vw;
        top: 35vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe1 {
        position: fixed;
        left: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe2 {
        position: fixed;
        left: 45vw;
        top: 22vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe3 {
        position: fixed;
        left: 45vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe4 {
        position: fixed;
        left: 5vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #bottom {
        position: fixed;
        left: 23vw;
        top: 68vh;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
        background-color: #333333;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 90vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #sgft {
        position: fixed;
        left: 5vw;
        bottom: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4100 {
        position: fixed;
        left: 5vw;
        bottom: 15vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #CV4101 {
        position: fixed;
        left: 5vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #gas {
        position: fixed;
        right: 20vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #outer_pressure {
        position: fixed;
        right: 20vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure {
        position: fixed;
        left: 30vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #inner_pressure_2 {
        position: fixed;
        right: 20vw;
        top: 36vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient_diff {
        position: fixed;
        left: 5.0vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe {
        position: fixed;
        left: 6vw;
        top: 35vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe1 {
        position: fixed;
        left: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe2 {
        position: fixed;
        left: 45vw;
        top: 22vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe3 {
        position: fixed;
        left: 45vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #penetration_pipe4 {
        position: fixed;
        left: 5vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #bottom {
        position: fixed;
        left: 23vw;
        top: 68vh;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
        background-color: #333333;
    }
}