@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 30vh;
        left: 20vw;
        width: 60vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        top: 30vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 40vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #days {
        position: fixed;
        top: 6%;
        left: 60%;
        width: 35%;
        height: 3%;
    }

    #container0 {
        position: fixed;
        top: 10%;
        left: 65%;
        width: 35%;
        height: 40%;
    }

    #container1 {
        position: fixed;
        top: 50%;
        left: 65%;
        width: 35%;
        height: 40%;
    }

}

@media screen and (min-height: 1080px) and (max-height: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 30vh;
        left: 20vw;
        width: 60vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        top: 30vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 40vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #days {
        position: fixed;
        top: 6vh;
        left: 60vw;
        width: 35vw;
        height: 3vh;
    }

    #container0 {
        position: fixed;
        top: 10vh;
        left: 65vw;
        width: 35vw;
        height: 40vh;
    }

    #container1 {
        position: fixed;
        top: 50vh;
        left: 65vw;
        width: 35vw;
        height: 40vh;
    }

}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 30vh;
        left: 28vw;
        width: 60vmin;
    }

    td {
        font-size: 2.5vmin;
    }

    #cryostat_pressure {
        position: fixed;
        left: 5vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 50vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

    #days {
        position: fixed;
        top: 6vh;
        left: 60vw;
        width: 35vw;
        height: 3vh;
    }

    #container0 {
        position: fixed;
        top: 10vh;
        left: 60vw;
        width: 40vw;
        height: 40vh;
    }

    #container1 {
        position: fixed;
        top: 50vh;
        left: 60vw;
        width: 40vw;
        height: 40vh;
    }

}