@media screen and (max-height: 1080px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 100vmin;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 47%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 20%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 43%;
        top: 35%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 42%;
        top: 85%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration1 {
        position: fixed;
        left: 5vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration2 {
        position: fixed;
        left: 58vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration3 {
        position: fixed;
        left: 58vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration4 {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #bottom {
        position: fixed;
        right: 5vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

}

@media screen and (min-height: 1080px) and (max-height: 2000px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 100vmin;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 48vw;
        top: 67vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 17vw;
        top: 67vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 45vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 43vw;
        top: 90vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration1 {
        position: fixed;
        left: 5vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration2 {
        position: fixed;
        left: 58vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration3 {
        position: fixed;
        left: 58vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration4 {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #bottom {
        position: fixed;
        right: 5vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 15vw;
        width: 100vmin;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 50%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 20%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 47%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 45%;
        top: 85%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration1 {
        position: fixed;
        left: 5vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration2 {
        position: fixed;
        left: 58vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration3 {
        position: fixed;
        left: 58vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration4 {
        position: fixed;
        left: 5vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #bottom {
        position: fixed;
        right: 5vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}