@media screen and (max-height: 1080px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: absolute;
        top: 10%;
        left: 10%;
        width: 65%;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001aaba {
        position: fixed;
        left: 32vw;
        top: 58vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001abbb {
        position: fixed;
        left: 55vw;
        top: 21vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001acbc {
        position: fixed;
        left: 52vw;
        top: 87vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001adbd {
        position: fixed;
        left: 73vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001aebe {
        position: fixed;
        left: 14vw;
        top: 54vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aaba {
        position: fixed;
        left: 23vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002abbb {
        position: fixed;
        left: 56vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002adbd {
        position: fixed;
        left: 50vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aebe {
        position: fixed;
        left: 24vw;
        top: 76vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002afbf {
        position: fixed;
        left: 62vw;
        top: 29vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ahbh {
        position: fixed;
        left: 24vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aibi {
        position: fixed;
        left: 26vw;
        top: 22vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ajbj {
        position: fixed;
        left: 23vw;
        top: 83vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002akbk {
        position: fixed;
        left: 26vw;
        top: 91vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002albl {
        position: fixed;
        left: 51vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ambm {
        position: fixed;
        left: 65vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002anbn {
        position: fixed;
        left: 72vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aobo {
        position: fixed;
        left: 60vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002apbp {
        position: fixed;
        left: 10vw;
        top: 47vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aqbq {
        position: fixed;
        left: 13vw;
        top: 77vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002arbr {
        position: fixed;
        left: 8vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

}

@media screen and (min-height: 1080px) and (max-height: 2000px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 10vh;
        left: 10vw;
        width: 65vw;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001aaba {
        position: fixed;
        left: 32vw;
        top: 53vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001abbb {
        position: fixed;
        left: 55vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001acbc {
        position: fixed;
        left: 52vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001adbd {
        position: fixed;
        left: 73vw;
        top: 45vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001aebe {
        position: fixed;
        left: 13vw;
        top: 49vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aaba {
        position: fixed;
        left: 23vw;
        top: 35vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002abbb {
        position: fixed;
        left: 56vw;
        top: 32.5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002adbd {
        position: fixed;
        left: 50vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aebe {
        position: fixed;
        left: 24vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002afbf {
        position: fixed;
        left: 62vw;
        top: 24vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ahbh {
        position: fixed;
        left: 23vw;
        top: 29vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aibi {
        position: fixed;
        left: 25vw;
        top: 19vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ajbj {
        position: fixed;
        left: 22vw;
        top: 76vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002akbk {
        position: fixed;
        left: 25vw;
        top: 83vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002albl {
        position: fixed;
        left: 51vw;
        top: 74vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ambm {
        position: fixed;
        left: 65vw;
        top: 31vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002anbn {
        position: fixed;
        left: 72vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aobo {
        position: fixed;
        left: 60vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002apbp {
        position: fixed;
        left: 10vw;
        top: 42vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aqbq {
        position: fixed;
        left: 13vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002arbr {
        position: fixed;
        left: 8vw;
        top: 35vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 10vh;
        left: 10vw;
        width: 65vw;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001aaba {
        position: fixed;
        left: 32vw;
        top: 58vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001abbb {
        position: fixed;
        left: 55vw;
        top: 21vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001acbc {
        position: fixed;
        left: 52vw;
        top: 87vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001adbd {
        position: fixed;
        left: 73vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss001aebe {
        position: fixed;
        left: 14vw;
        top: 54vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aaba {
        position: fixed;
        left: 23vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002abbb {
        position: fixed;
        left: 56vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002adbd {
        position: fixed;
        left: 50vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aebe {
        position: fixed;
        left: 24vw;
        top: 76vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002afbf {
        position: fixed;
        left: 62vw;
        top: 29vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ahbh {
        position: fixed;
        left: 24vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aibi {
        position: fixed;
        left: 26vw;
        top: 22vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ajbj {
        position: fixed;
        left: 23vw;
        top: 83vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002akbk {
        position: fixed;
        left: 26vw;
        top: 91vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002albl {
        position: fixed;
        left: 51vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002ambm {
        position: fixed;
        left: 65vw;
        top: 37vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002anbn {
        position: fixed;
        left: 72vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aobo {
        position: fixed;
        left: 60vw;
        top: 75vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002apbp {
        position: fixed;
        left: 10vw;
        top: 47vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002aqbq {
        position: fixed;
        left: 13vw;
        top: 77vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #tss002arbr {
        position: fixed;
        left: 8vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }
}