@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    a {
        color: darkgray;
    }

    a:hover {
        color: lightgreen;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 65%;
    }

    #content {
        position: fixed;
        top: 17vh;
        left: 5vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

}

@media screen and (min-height: 1100px) and (max-height: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    a {
        color: darkgray;
    }

    a:hover {
        color: lightgreen;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 3vw;
        width: 75%;
    }

    #content {
        position: fixed;
        top: 17vh;
        left: 5vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    a {
        color: darkgray;
    }

    a:hover {
        color: lightgreen;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 65%;
    }

    #content {
        position: fixed;
        top: 17vh;
        left: 5vw;
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}