@media screen and (max-width: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #pageTitle {
        position: absolute;
        display: block;
        top: 7vh;
        left: 50vw;
    }

    #detector {
        /*display: block;*/
        position: fixed;
        top: 35vh;
        left: 5vw;
        width: 90vw;
    }

    #left {
        display: block;
        position: fixed;
        top: 20vh;
        left: 5vw;
        overflow-y: auto;
        max-height: 65vh;
        background-color: #333333;
        font-size: 1.3vmin;
    }

    #right {
        display: block;
        position: fixed;
        top: 20vh;
        right: 5vw;
        overflow-y: auto;
        max-height: 65vh;
        font-size: 1.3vmin;
        background-color: #333333;
    }

    #crp4 {
        position: fixed;
        top: 5vh;
        left: 5vw;
        overflow-x: auto;
        max-width: 90vw;
        background-color: #333333;
    }

    #floor {
        position: fixed;
        left: 10vw;
        bottom: 5vh;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vh;
        background-color: #333333;
    }

    td {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.8vh;
        padding: 0.3vmin;
    }


    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}
@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #pageTitle {
        position: absolute;
        display: block;
        top: 40vh;
        left: 35vw;
    }

    #detector {
        /*display: block;*/
        position: fixed;
        top: 15vh;
        left: 8.5vw;
        width: 70vw;
    }

    #spbottom {
        position: fixed;
        top: 70vh;
        left: 40vw;
    }

    #left {
        display: block;
        position: fixed;
        top: 10vh;
        left: 10vw;
        overflow-y: auto;
        max-height: 85vh;
        background-color: #333333;
        font-size: 1.3vmin;
    }

    #right {
        display: block;
        position: fixed;
        top: 10vh;
        right: 20vw;
        overflow-y: auto;
        max-height: 85vh;
        font-size: 1.3vmin;
        background-color: #333333;
    }

    #crp4 {
        position: fixed;
        top: 5vh;
        left: 25vw;
        background-color: #333333;
    }

    #floor {
        position: fixed;
        left: 30vw;
        bottom: 10vh;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    td {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.8vmin;
        padding: 0.3vmin;
    }


    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1081px) and (min-width: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #pageTitle {
        top: 2vh;
        left: 35vw;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 8.5vw;
        width: 70vw;
    }

    .value {
        font-size: 1.5vmin;
    }

    #spbottom {
        position: fixed;
        top: 70vh;
        left: 40vw;
    }

    #left {
        overflow-y: auto;
        display: block;
        position: fixed;
        top: 10vh;
        left: 10vw;
        max-height: 85vh;
        background-color: #333333;
        font-size: 1.3vmin;
    }

    #right {
        display: block;
        position: fixed;
        top: 10vh;
        left: 67vw;
        overflow-y: auto;
        max-height: 85vh;
        background-color: #333333;
        font-size: 1.3vmin;
    }

    #crp4 {
        position: fixed;
        top: 5vh;
        left: 25vw;
        background-color: #333333;
    }

    #floor {
        position: fixed;
        left: 30vw;
        bottom: 10vh;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    td {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.8vmin;
        padding: 0.3vmin;
    }


    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 8.5vw;
        width: 70vw;
    }

    #spbottom {
        position: fixed;
        top: 70vh;
        left: 40vw;
    }

    #left {
        display: block;
        position: fixed;
        top: 10vh;
        left: 10vw;
        overflow-y: auto;
        max-height: 85vh;
        font-size: 1.3vmin;
        background-color: #333333;
    }

    #right {
        display: block;
        position: fixed;
        top: 10vh;
        left: 67vw;
        overflow-y: auto;
        max-height: 85vh;
        font-size: 1.3vmin;
        background-color: #333333;
    }

    #crp4 {
        position: fixed;
        top: 5vh;
        left: 25vw;
        background-color: #333333;
    }

    #floor {
        position: fixed;
        left: 30vw;
        bottom: 10vh;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    td {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.8vmin;
        padding: 0.3vmin;
    }


    #ambient {
        position: fixed;
        right: 2vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}