@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        /*display: block;*/
        position: fixed;
        top: 15vh;
        left: 20vw;
        width: 43vw;
    }

    #te10 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te11 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te12 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te13 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te14 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te15 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te16 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te17 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te18 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1081px) and (min-width: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        /*display: block;*/
        position: fixed;
        top: 15vh;
        left: 20vw;
        width: 40vw;
    }

    #te10 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te11 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te12 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te13 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te14 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te15 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te16 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te17 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te18 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 2000px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        /*display: block;*/
        position: fixed;
        top: 15vh;
        left: 20vw;
        width: 40vw;
    }

    #te10 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te11 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te12 {
        display: block;
        position: fixed;
        top: 59vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te13 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te14 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te15 {
        display: block;
        position: fixed;
        top: 49vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te16 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 46vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te17 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 38vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #te18 {
        display: block;
        position: fixed;
        top: 30vh;
        left: 29vw;
        background-color: #333333;
        text-align: center;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}