<link rel="stylesheet" href="css/home.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <table id="main_menu">
        <th>Cryostat</th>
        <tr>
            <td><a href="#!/cryostat"><img src="img/cryostat_thumb.png" width="320px"/></a></td>
        </tr>
    </table>
    <div id="numbers">
        <ul>
            <li>NP02 Run coordinator / Shift Leader:  <a href="tel:+41754114721">+41 75 411 47 21 (16 47 21)</a></li>
            <li>NP02 Control Room: <a href="tel:+41227665683">+41 22 766 56 83 (6 56 83)</a></li>
        </ul>
    </div>

</div>