<link rel="stylesheet" href="css/inside.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}} (<u><a style="color: white;" href="#!/insidelayout">Layout</a></u>)</div>
    <img id="detector" src="img/cryostat.png" alt="gttprobes"/>

    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>

    <table id="penetration1">
        <tr>
            <th>Pen. pipe 33.1</th>
        </tr>
        <tr>
            <td>TSS-001 AA/BA <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47897559194395"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_001_AA_BA < 80 || $ctrl.NP02_DCS_01_TSS_001_AA_BA > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_001_AA_BA | number: 1) }} &#8490;</span></a><br/>
                TSS-001 AA/BB <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47897575971611"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_001_AA_BB < 80 || $ctrl.NP02_DCS_01_TSS_001_AA_BB > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_001_AA_BB | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AA/BA <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897592748827"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AA_BA < 80 || $ctrl.NP02_DCS_01_TSS_002_AA_BA > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AA_BA | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AH/BH <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897609526043"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AH_BH < 80 || $ctrl.NP02_DCS_01_TSS_002_AH_BH > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AH_BH | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AI/BI <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897626303259"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AI_BI < 80 || $ctrl.NP02_DCS_01_TSS_002_AI_BI > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AI_BI | number: 1) }} &#8490;</span></a></td>
        </tr>
    </table>
    <table id="penetration2">
        <tr>
            <th>Pen. pipe 33.2</th>
        </tr>
        <tr>
            <td>TSS-001 AD/BD <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47897659857691"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_001_AD_BD < 80 || $ctrl.NP02_DCS_01_TSS_001_AD_BD > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_001_AD_BD | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AB/BB <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897676634907"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AB_BB < 80 || $ctrl.NP02_DCS_01_TSS_002_AB_BB > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AB_BB | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AF/BF <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897693412123"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AF_BF < 80 || $ctrl.NP02_DCS_01_TSS_002_AF_BF > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AF_BF | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AM/BM <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897710189339"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AM_BM < 80 || $ctrl.NP02_DCS_01_TSS_002_AM_BM > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AM_BM | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AN/BN <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897726966555"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AN_BN < 80 || $ctrl.NP02_DCS_01_TSS_002_AN_BN > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AN_BN | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AO/BO <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897743743771"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AO_BO < 80 || $ctrl.NP02_DCS_01_TSS_002_AO_BO > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AO_BO | number: 1) }} &#8490;</span></a></td>
        </tr>
    </table>
    <table id="penetration3">
        <tr>
            <th>Pen. pipe 33.3</th>
        </tr>
        <tr>
            <td>TSS-001 AC/BC <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47897760520987"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_001_AC_BC < 80 || $ctrl.NP02_DCS_01_TSS_001_AC_BC > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_001_AC_BC | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AD/BD <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897794075419"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AD_BD < 80 || $ctrl.NP02_DCS_01_TSS_002_AD_BD > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AD_BD | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AJ/BJ <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897810852635"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AJ_BJ < 80 || $ctrl.NP02_DCS_01_TSS_002_AJ_BJ > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AJ_BJ | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AK/BK <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897827629851"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AK_BK < 80 || $ctrl.NP02_DCS_01_TSS_002_AK_BK > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AK_BK | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AL/BL <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897844407067"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AL_BL < 80 || $ctrl.NP02_DCS_01_TSS_002_AL_BL > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AL_BL | number: 1) }} &#8490;</span></a></td>
        </tr>
    </table>
    <table id="penetration4">
        <tr>
            <th>Pen. pipe 33.4</th>
        </tr>
        <tr>
            <td>TSS-001 AE/BE <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47897861184283"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_001_AE_BE < 80 || $ctrl.NP02_DCS_01_TSS_001_AE_BE > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_001_AE_BE | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AE/BE <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897894738715"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AE_BE < 80 || $ctrl.NP02_DCS_01_TSS_002_AE_BE > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AE_BE | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AP/BP <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897911515931"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AP_BP < 80 || $ctrl.NP02_DCS_01_TSS_002_AP_BP > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AP_BP | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AQ/BQ <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897928293147"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AQ_BQ < 80 || $ctrl.NP02_DCS_01_TSS_002_AQ_BQ > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AQ_BQ | number: 1) }} &#8490;</span></a><br/>
                TSS-002 AR/BR <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47897945070363"><span class="value">{{ ($ctrl.NP02_DCS_01_TSS_002_AR_BR < 80 || $ctrl.NP02_DCS_01_TSS_002_AR_BR > 350) ? "Error" : ($ctrl.NP02_DCS_01_TSS_002_AR_BR | number: 1) }} &#8490;</span></a></td>
        </tr>
    </table>

    <table id="bottom">
        <tr>
            <th style="text-align: center;" colspan="5">External bottom temperatures</th>
        </tr>
        <tr>
            <td>TE0010: <a target="_blank" href="#!/histogram/47899773786907"><span class="value">{{ $ctrl.NP02_DCS_01_TE0010 | number: 1 }}</span></a></td>
            <td>TE0011: <a target="_blank" href="#!/histogram/47899790564123"><span class="value">{{ $ctrl.NP02_DCS_01_TE0011 | number: 1 }}</span></a></td>
            <td>TE0012: <a target="_blank" href="#!/histogram/47899807341339"><span class="value">{{ $ctrl.NP02_DCS_01_TE0012 | number: 1 }}</span></a></td>
            <td>TE0013: <a target="_blank" href="#!/histogram/47899824118555"><span class="value">{{ $ctrl.NP02_DCS_01_TE0013 | number: 1 }}</span></a></td>
            <td rowspan="2">TE0018: <a target="_blank" href="#!/histogram/47899908004635"><span class="value">{{ $ctrl.NP02_DCS_01_TE0018 | number: 1 }}</span></a></td>
        </tr>
        <tr>
            <td>TE0014: <a target="_blank" href="#!/histogram/47899840895771"><span class="value">{{ $ctrl.NP02_DCS_01_TE0014 | number: 1 }}</span></a></td>
            <td>TE0015: <a target="_blank" href="#!/histogram/47899857672987"><span class="value">{{ $ctrl.NP02_DCS_01_TE0015 | number: 1 }}</span></a></td>
            <td>TE0016: <a target="_blank" href="#!/histogram/47899874450203"><span class="value">{{ $ctrl.NP02_DCS_01_TE0016 | number: 1 }}</span></a></td>
            <td>TE0017: <a target="_blank" href="#!/histogram/47899891227419"><span class="value">{{ $ctrl.NP02_DCS_01_TE0017 | number: 1 }}</span></a></td>
        </tr>
    </table>

</div>