<style type="text/css">
    #container {
        width: 90vw;
        height: 90vh;
    }
</style>

<div id="timespan" style="position: absolute; left: 10%; top: 1%;">
    <span id="historyLabel" style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 18px; color: white">History for:</span>
    <br/>
    <button id="1hour" type="button" ng-click="$ctrl.dayChanger(0.125)">1 hour</button>
    <button id="6hours" type="button" ng-click="$ctrl.dayChanger(0.33)">6 hours</button>
    <button id="12hours" type="button" ng-click="$ctrl.dayChanger(0.5)">12 hours</button>
    <button id="1day" type="button" ng-click="$ctrl.dayChanger(1)">1 day</button>
    <button id="3days" type="button" ng-click="$ctrl.dayChanger(3)">3 days</button>
    <button id="7days" type="button" ng-click="$ctrl.dayChanger(7)">7 days</button>
    <button id="10days" type="button" ng-click="$ctrl.dayChanger(10)">10 days</button>
    <!--button id="reset-zoom" type="button" ng-click="$ctrl.chart.resetZoom()">Reset zoom</button-->
    <button id="bellegarde" type="button" ng-click="$ctrl.sideChanger(0)">Bellegarde side</button>
    <button id="jura" type="button" ng-click="$ctrl.sideChanger(1)">Jura side</button>
    <button id="lausanne" type="button" ng-click="$ctrl.sideChanger(2)">Lausanne side</button>
    <button id="saleve" type="button" ng-click="$ctrl.sideChanger(3)">Saleve side</button>

</div>

<div id="container0" style="position: absolute; top: 10%; left: 0%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container1" style="position: absolute; top: 10%; left: 25%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container2" style="position: absolute; top: 10%; left: 50%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container3" style="position: absolute; top: 10%; left: 75%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container4" style="position: absolute; top: 60%; left: 0%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container5" style="position: absolute; top: 60%; left: 25%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container6" style="position: absolute; top: 60%; left: 50%; width: 25%; height: 50%;">Placeholder for chart</div>
<div id="container7" style="position: absolute; top: 60%; left: 75%; width: 25%; height: 50%;">Placeholder for chart</div>


