<link rel="stylesheet" href="css/groundplanes.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>

    <div id="timestamp_label" style="position: fixed; right: 40%;">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/cachedhist/47878785489690"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/NP02_DCS_V21-CPC_AnalogInput-00008.ProcessInput.PosSt"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/NP02_DCS_V21-CPC_AnalogInput-00009.ProcessInput.PosSt"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="cryostat_pressure">
        <table>
            <tr>
                <td>Current (Measured): <a target="_blank" ng-href="#!/histogram/47363557163291"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_I | number: 5}} &#181;A</span></a></td>
                <td>Grid 1 Current: <a target="_blank" ng-href="#!/histogram/47955675505179"><span class="value">{{ $ctrl.NP02_DCS_01_GRID1_I | number: 1 }} &#181;A</span></a></td>
                <td>LEM CRP1 top MAX: <span class="value">{{ $ctrl.CRP1_top_max | number: 1 }} V</span></td>
            </tr>
            <tr>
                <td>DCS Current limit: <a target="_blank" ng-href="#!/histogram/47363590717723"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_Limit | number: 5}} &#181;A</span></a></td>
                <td>Grid 1 Voltage: <a target="_blank" ng-href="#!/histogram/47955675506459"><span class="value">{{ $ctrl.NP02_DCS_01_GRID1_V | number: 1 }} V</span></a></td>
                <td>LEM CRP1 bottom MAX: <span class="value">{{ $ctrl.CRP1_bottom_max | number: 1 }} V</span></td>
            </tr>
            <tr>
                <td>Voltage Raw: <a target="_blank" ng-href="#!/histogram/47363691381019"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_V_Raw | number: 5}} V</span></a></td>
                <td>Grid 2 Current: <a target="_blank" ng-href="#!/histogram/47955692282395"><span class="value">{{ $ctrl.NP02_DCS_01_GRID2_I | number: 1 }} &#181;A</span></a></td>
                <td></td>
            </tr>
            <tr>
                <td>Heinzinger On/Off status: <a target="_blank" ng-href="#!/histogram/47363607494939"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_OnOff_Sts?"On":"Off" }}</span></a></td>
                <td>Grid 2 Voltage: <a target="_blank" ng-href="#!/histogram/47955692283675"><span class="value">{{ $ctrl.NP02_DCS_01_GRID2_V | number: 1 }} V</span></a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Grid 3 Current: <a target="_blank" ng-href="#!/histogram/47955742614043"><span class="value">{{ $ctrl.NP02_DCS_01_GRID3_I | number: 1 }} &#181;A</span></a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Grid 3 Voltage: <a target="_blank" ng-href="#!/histogram/47955742615323"><span class="value">{{ $ctrl.NP02_DCS_01_GRID3_V | number: 1 }} V</span></a></td>
                <td></td>
            </tr>
            <tr>
                <td>FFS Current: <a target="_blank" ng-href="#!/histogram/47955658727963"><span class="value">{{ $ctrl.NP02_DCS_01_FFS_I | number: 5}} &#181;A</span></a></td>
                <td>Grid 4 Current: <a target="_blank" ng-href="#!/histogram/47955725836827"><span class="value">{{ $ctrl.NP02_DCS_01_GRID4_I | number: 1 }} &#181;A</span></a></td>
                <td>LEM CRP2 top MAX: <span class="value">{{ $ctrl.CRP2_top_max | number: 1 }} V</span></td>
            </tr>
            <tr>
                <td>FFS Voltage: <a target="_blank" ng-href="#!/histogram/47955658729243"><span class="value">{{ $ctrl.NP02_DCS_01_FFS_V | number: 5}} V</span></a></td>
                <td>Grid 4 Voltage: <a target="_blank" ng-href="#!/histogram/47955725838107"><span class="value">{{ $ctrl.NP02_DCS_01_GRID4_V | number: 1 }} V</span></a></td>
                <td>LEM CRP2 bottom MAX: <span class="value">{{ $ctrl.CRP2_bottom_max | number: 1 }} V</span></td>
            </tr>
        </table>
        <br/>
        <div id="days">
            <button id="1hour" type="button" ng-click="$ctrl.dayChanger(0.125)">1 hour</button>
            <button id="6hours" type="button" ng-click="$ctrl.dayChanger(0.33)">6 hours</button>
            <button id="12hours" type="button" ng-click="$ctrl.dayChanger(0.58)">12 hours</button>
            <button id="1day" type="button" ng-click="$ctrl.dayChanger(1.08)">1 day</button>
            <button id="3days" type="button" ng-click="$ctrl.dayChanger(3.08)">3 days</button>
            <button id="7days" type="button" ng-click="$ctrl.dayChanger(7.08)">7 days</button>
            <button id="10days" type="button" ng-click="$ctrl.dayChanger(10.08)">10 days</button>
        </div>
        <div id="container0">Placeholder for chart</div>
        <div id="container1">Placeholder for chart</div>


    </div>
</div>