<link rel="stylesheet" href="css/lems.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>

    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>
    <table id="main">
        <tr>
            <th colspan="9" align="center">CRP 2</th>
            <th colspan="9" align="center">CRP 1</th>
        </tr>
        <tr>
            <th colspan="3">Board 0</th>
            <th colspan="3">Board 1</th>
            <th colspan="3">Board 2</th>
            <th colspan="3">Board 3</th>
            <th colspan="3">Board 4</th>
            <th colspan="3">Board 5</th>
        </tr>

        <tr>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board0.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP2_board0 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board0.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board1.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP2_board1 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board1.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board2.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP2_board2 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board2.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board3.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP1_board3 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board3.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board4.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP1_board4 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board4.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_board5.Name">{{ i }}<br/></span></td>
            <td class="tdcenter"><span ng-repeat="i in $ctrl.NP02_DCS_01_CRP1_board5 track by $index">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_board5.Value track by $index">{{ i | number: 1 }} V<br/></span></td>
        </tr>
    </table>
</div>