<link rel="stylesheet" href="css/multiplexer.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>

    <table id="main">
        <tr>
            <th colspan="2">Card 1</th>
            <th colspan="2">Card 2</th>
            <th colspan="2">Card 3</th>
            <th colspan="2">Card 4</th>
            <th colspan="2">Card 5</th>
            <th colspan="2">Card 6</th>
            <th colspan="2">Card 7</th>
            <th colspan="2">Card 8</th>
        </tr>
        <tr>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card1.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card1.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card2.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card2.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card3.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card3.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card4.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card4.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card5.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card5.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card6.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card6.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card7.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card7.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
            <td class="tdleft"><span ng-repeat="i in $ctrl.NP02_DCS_01_TE_card8.Name">{{ i }}<br/></span></td>
            <td class="tdright"><span class="value" ng-repeat="i in $ctrl.NP02_DCS_01_TE_card8.Value track by $index">{{ i | number: 1 }} &#8490;<br/></span></td>
        </tr>
    </table>

</div>