<link rel="stylesheet" href="css/links.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="content">
        <table>
            <tr>
                <td>NP02 Run coordinator / Shift Leader</td>
                <td><a href="tel:+41754114721">+41 75 411 47 21 (16 47 21)</a></td>
            </tr>
            <tr>
                <td>NP02 Control Room</td>
                <td><a href="tel:+41227665683">+41 22 766 56 83 (6 56 83)</a></td>
            </tr>
            <tr>
                <td><a href="mailto:Filippo.Resnati@cern.ch">Filippo Resnati</a></td>
                <td><a href="tel:+41754117543">+41 75 411 75 43 (16 75 43)</a></td>
            </tr>
            <tr>
                <td><a href="mailto:">Thorsten</a></td>
                <td><a href="tel:+34667687235">+34 667 687 235</a></td>
            </tr>
            <tr>
                <td><a href="mailto:">Alaim</a></td>
                <td><a href="tel:+33695303856">+33 6 95 30 38 56</a></td>
            </tr>
            <tr>
                <td><a href="mailto:">Edoardo</a></td>
                <td><a href="tel:+33609864414">+33 6 09 86 44 14</a></td>
            </tr>
            <tr>
                <td><a href="mailto:">Hector</a></td>
                <td><a href="tel:+13104260318">+1 310 426 03 18</a></td>
            </tr>
            <tr>
                <td><a href="mailto:Francesco.Pietropaolo@cern.ch">Francesco Pietropaolo</a></td>
                <td><a href="tel:+33601866142">+33 6 01 86 61 42</a> / <a href="tel:+41754111583">+41 75 411 15 83 (16 15 83)</a></td>
            </tr>
            <tr>
                <td><a href="mailto:">Serphan</a></td>
                <td><a href="tel:+41788706636">+41 78 870 66 36</a></td>
            </tr>
            <tr>
                <td><a href="mailto:stephen@fnal.gov">Stephen Pordes</a></td>
                <td><a href="tel:+41754114102">+41 75 411 41 02 (16 41 02)</a></td>
            </tr>
            <tr>
                <td><a href="mailto:Marzio.Nessi@cern.ch">Marzio Nessi</a></td>
                <td><a href="tel:+41754110463">+41 75 411 04 63 (16 04 63)</a></td>
            </tr>
            <tr>
                <td><a href="mailto:duchesneau@lapp.in2p3.fr">Dominique Duchesneau</a></td>
                <td><a href="tel:+33616180297">+33 6 16 18 02 97</a></td>
            </tr>
            <tr>
                <td><a href="mailto:George.Salukvadze@cern.ch">George Salukvadze</a></td>
                <td><a href="tel:+33788764488">+33 7 88 76 44 88</a></td>
            </tr>
            <tr>
                <td>TWiki</td>
                <td><a target="_blank" href="https://twiki.cern.ch/twiki/bin/view/CENF/DUNEProtDP">https://twiki.cern.ch/twiki/bin/view/CENF/DUNEProtDP</a></td>
            </tr>
            <tr>
                <td>Logbook</td>
                <td><a target="_blank" href="https://pddpelog.web.cern.ch">https://pddpelog.web.cern.ch</a></td>
            </tr>
        </table>
    </div>

</div>