<link rel="stylesheet" href="css/tinternal.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/tinternal.png" alt="tinternal"/>
    <div id="timestamp_label" style="position: fixed; right: 5%;">Timestamp:<br/><span id="timestamp" style="font-size: 2.2vmin;">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47910779640603"><span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47910796417819"><span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47910813195035"><span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a></div>
<!--    <button id="spbottom" ng-click='$ctrl.pageChooser("crptemps")'>CRP temperatures</button>-->

    <div id="crp4">
        <table>
            <tr>
                <th colspan="4">CRP4</th>
                <th colspan="4">CRP2</th>
            </tr>
            <tr>
                <td>TE0413: <a target="_blank" ng-href="#!/histogram/47898968480539"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[8] | number: 1}} &#8490;</span></a></td>
                <td>TE0415: <a target="_blank" ng-href="#!/histogram/47899002034971"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[9] | number: 1}} &#8490;</span></a></td>
                <td>TE0416: <a target="_blank" ng-href="#!/histogram/47899018812187"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[10] | number: 1}} &#8490;</span></a></td>
                <td>TE0418: <a target="_blank" ng-href="#!/histogram/47899052366619"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[11] | number: 1}} &#8490;</span></a></td>
                <td>TE0201: <a target="_blank" ng-href="#!/histogram/47897961847579"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[0] | number: 1}} &#8490;</span></a></td>
                <td>TE0202: <a target="_blank" ng-href="#!/histogram/47897978624795"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[1] | number: 1}} &#8490;</span></a></td>
                <td>TE0203: <a target="_blank" ng-href="#!/histogram/47897995402011"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[2] | number: 1}} &#8490;</span></a></td>
                <td>TE0204: <a target="_blank" ng-href="#!/histogram/47898012179227"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[3] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0419: <a target="_blank" ng-href="#!/histogram/47899069143835"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[12] | number: 1}} &#8490;</span></a></td>
                <td>TE0421: <a target="_blank" ng-href="#!/histogram/47899102698267"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[13] | number: 1}} &#8490;</span></a></td>
                <td>TE0422: <a target="_blank" ng-href="#!/histogram/47899119475483"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[14] | number: 1}} &#8490;</span></a></td>
                <td>TE0424: <a target="_blank" ng-href="#!/histogram/47899153029915"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[15] | number: 1}} &#8490;</span></a></td>
                <td>TE0301: <a target="_blank" ng-href="#!/histogram/47898364500763"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[4] | number: 1}} &#8490;</span></a></td>
                <td>TE0306: <a target="_blank" ng-href="#!/histogram/47898448386843"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[5] | number: 1}} &#8490;</span></a></td>
                <td>TE0314: <a target="_blank" ng-href="#!/histogram/47898582604571"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[6] | number: 1}} &#8490;</span></a></td>
                <td>TE0318: <a target="_blank" ng-href="#!/histogram/47898649713435"><br/><span class="value">{{ $ctrl.NP02_DCS_01_TE[7] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>

    <div id="right">
        <table>
            <tr>
                <td>LT0501<span style="font-size: 1.5vmin;"> (7.406m)</span>: <a target="_blank" ng-href="#!/histogram/47899169807131"><span class="value">{{ $ctrl.NP02_DCS_01_TE[16] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0502<span style="font-size: 1.5vmin;"> (7.396m)</span>: <a target="_blank" ng-href="#!/histogram/47899186584347"><span class="value">{{ $ctrl.NP02_DCS_01_TE[17] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0503<span style="font-size: 1.5vmin;"> (7.386m)</span>: <a target="_blank" ng-href="#!/histogram/47899203361563"><span class="value">{{ $ctrl.NP02_DCS_01_TE[18] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0504<span style="font-size: 1.5vmin;"> (7.376m)</span>: <a target="_blank" ng-href="#!/histogram/47899220138779"><span class="value">{{ $ctrl.NP02_DCS_01_TE[19] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0505<span style="font-size: 1.5vmin;"> (7.366m)</span>: <a target="_blank" ng-href="#!/histogram/47899236915995"><span class="value">{{ $ctrl.NP02_DCS_01_TE[20] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0506<span style="font-size: 1.5vmin;"> (7.356m)</span>: <a target="_blank" ng-href="#!/histogram/47899253693211"><span class="value">{{ $ctrl.NP02_DCS_01_TE[21] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0507<span style="font-size: 1.5vmin;"> (7.186m)</span>: <a target="_blank" ng-href="#!/histogram/47899270470427"><span class="value">{{ $ctrl.NP02_DCS_01_TE[22] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0508<span style="font-size: 1.5vmin;"> (7.016m)</span>: <a target="_blank" ng-href="#!/histogram/47899287247643"><span class="value">{{ $ctrl.NP02_DCS_01_TE[23] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0509<span style="font-size: 1.5vmin;"> (6.846m)</span>: <a target="_blank" ng-href="#!/histogram/47899304024859"><span class="value">{{ $ctrl.NP02_DCS_01_TE[24] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0605<span style="font-size: 1.5vmin;"> (6.006m)</span>: <a target="_blank" ng-href="#!/histogram/47899639569179"><span class="value">{{ $ctrl.NP02_DCS_01_TE[41] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0606<span style="font-size: 1.5vmin;"> (5.836m)</span>: <a target="_blank" ng-href="#!/histogram/47899656346395"><span class="value">{{ $ctrl.NP02_DCS_01_TE[42] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0607<span style="font-size: 1.5vmin;"> (5.666m)</span>: <a target="_blank" ng-href="#!/histogram/47899673123611"><span class="value">{{ $ctrl.NP02_DCS_01_TE[43] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0608<span style="font-size: 1.5vmin;"> (5.496m)</span>: <a target="_blank" ng-href="#!/histogram/47899689900827"><span class="value">{{ $ctrl.NP02_DCS_01_TE[44] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0601<span style="font-size: 1.5vmin;"> (4.660m)</span>: <a target="_blank" ng-href="#!/histogram/47899572460315"><span class="value">{{ $ctrl.NP02_DCS_01_TE[37] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0602<span style="font-size: 1.5vmin;"> (4.490m)</span>: <a target="_blank" ng-href="#!/histogram/47899589237531"><span class="value">{{ $ctrl.NP02_DCS_01_TE[38] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0603<span style="font-size: 1.5vmin;"> (4.320m)</span>: <a target="_blank" ng-href="#!/histogram/47899606014747"><span class="value">{{ $ctrl.NP02_DCS_01_TE[39] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0604<span style="font-size: 1.5vmin;"> (4.150m)</span>: <a target="_blank" ng-href="#!/histogram/47899622791963"><span class="value">{{ $ctrl.NP02_DCS_01_TE[40] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0521<span style="font-size: 1.5vmin;"> (3.287m)</span>: <a target="_blank" ng-href="#!/histogram/47899505351451"><span class="value">{{ $ctrl.NP02_DCS_01_TE[33] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0522<span style="font-size: 1.5vmin;"> (3.117m)</span>: <a target="_blank" ng-href="#!/histogram/47899522128667"><span class="value">{{ $ctrl.NP02_DCS_01_TE[34] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0523<span style="font-size: 1.5vmin;"> (2.947m)</span>: <a target="_blank" ng-href="#!/histogram/47899538905883"><span class="value">{{ $ctrl.NP02_DCS_01_TE[35] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0524<span style="font-size: 1.5vmin;"> (2.777m)</span>: <a target="_blank" ng-href="#!/histogram/47899555683099"><span class="value">{{ $ctrl.NP02_DCS_01_TE[36] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0517<span style="font-size: 1.5vmin;"> (1.933m)</span>: <a target="_blank" ng-href="#!/histogram/47899438242587"><span class="value">{{ $ctrl.NP02_DCS_01_TE[29] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0518<span style="font-size: 1.5vmin;"> (1.763m)</span>: <a target="_blank" ng-href="#!/histogram/47899455019803"><span class="value">{{ $ctrl.NP02_DCS_01_TE[30] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0519<span style="font-size: 1.5vmin;"> (1.593m)</span>: <a target="_blank" ng-href="#!/histogram/47899471797019"><span class="value">{{ $ctrl.NP02_DCS_01_TE[31] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0520<span style="font-size: 1.5vmin;"> (1.423m)</span>: <a target="_blank" ng-href="#!/histogram/47899488574235"><span class="value">{{ $ctrl.NP02_DCS_01_TE[32] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0513<span style="font-size: 1.5vmin;"> (0.544m)</span>: <a target="_blank" ng-href="#!/histogram/47899371133723"><span class="value">{{ $ctrl.NP02_DCS_01_TE[25] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0514<span style="font-size: 1.5vmin;"> (0.374m)</span>: <a target="_blank" ng-href="#!/histogram/47899387910939"><span class="value">{{ $ctrl.NP02_DCS_01_TE[26] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0515<span style="font-size: 1.5vmin;"> (0.204m)</span>: <a target="_blank" ng-href="#!/histogram/47899404688155"><span class="value">{{ $ctrl.NP02_DCS_01_TE[27] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0516<span style="font-size: 1.5vmin;"> (0.034m)</span>: <a target="_blank" ng-href="#!/histogram/47899421465371"><span class="value">{{ $ctrl.NP02_DCS_01_TE[28] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>

    <div id="left">
        <table>
            <tr>
                <td>LT0701<span style="font-size: 1.5vmin;"> (7.402m)</span>: <a target="_blank" ng-href="#!/histogram/47899975113499"><span class="value">{{ $ctrl.NP02_DCS_01_TE[45] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0702<span style="font-size: 1.5vmin;"> (7.392m)</span>: <a target="_blank" ng-href="#!/histogram/47899991890715"><span class="value">{{ $ctrl.NP02_DCS_01_TE[46] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0703<span style="font-size: 1.5vmin;"> (7.382m)</span>: <a target="_blank" ng-href="#!/histogram/47900008667931"><span class="value">{{ $ctrl.NP02_DCS_01_TE[47] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0704<span style="font-size: 1.5vmin;"> (7.372m)</span>: <a target="_blank" ng-href="#!/histogram/47900025445147"><span class="value">{{ $ctrl.NP02_DCS_01_TE[48] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0705<span style="font-size: 1.5vmin;"> (7.362m)</span>: <a target="_blank" ng-href="#!/histogram/47900042222363"><span class="value">{{ $ctrl.NP02_DCS_01_TE[49] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0706<span style="font-size: 1.5vmin;"> (7.352m)</span>: <a target="_blank" ng-href="#!/histogram/47900058999579"><span class="value">{{ $ctrl.NP02_DCS_01_TE[50] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0707<span style="font-size: 1.5vmin;"> (7.182m)</span>: <a target="_blank" ng-href="#!/histogram/47900075776795"><span class="value">{{ $ctrl.NP02_DCS_01_TE[51] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0708<span style="font-size: 1.5vmin;"> (7.012m)</span>: <a target="_blank" ng-href="#!/histogram/47900092554011"><span class="value">{{ $ctrl.NP02_DCS_01_TE[52] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>LT0709<span style="font-size: 1.5vmin;"> (6.842m)</span>: <a target="_blank" ng-href="#!/histogram/47900109331227"><span class="value">{{ $ctrl.NP02_DCS_01_TE[53] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0805<span style="font-size: 1.5vmin;"> (6.681m)</span>: <a target="_blank" ng-href="#!/histogram/47900444875547"><span class="value">{{ $ctrl.NP02_DCS_01_TE[70] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0806<span style="font-size: 1.5vmin;"> (6.511m)</span>: <a target="_blank" ng-href="#!/histogram/47900461652763"><span class="value">{{ $ctrl.NP02_DCS_01_TE[71] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0807<span style="font-size: 1.5vmin;"> (6.341m)</span>: <a target="_blank" ng-href="#!/histogram/47900478429979"><span class="value">{{ $ctrl.NP02_DCS_01_TE[72] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0808<span style="font-size: 1.5vmin;"> (6.171m)</span>: <a target="_blank" ng-href="#!/histogram/47900495207195"><span class="value">{{ $ctrl.NP02_DCS_01_TE[73] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0801<span style="font-size: 1.5vmin;"> (5.331m)</span>: <a target="_blank" ng-href="#!/histogram/47900377766683"><span class="value">{{ $ctrl.NP02_DCS_01_TE[66] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0802<span style="font-size: 1.5vmin;"> (5.161m)</span>: <a target="_blank" ng-href="#!/histogram/47900394543899"><span class="value">{{ $ctrl.NP02_DCS_01_TE[67] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0803<span style="font-size: 1.5vmin;"> (4.991m)</span>: <a target="_blank" ng-href="#!/histogram/47900411321115"><span class="value">{{ $ctrl.NP02_DCS_01_TE[68] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0804<span style="font-size: 1.5vmin;"> (4.821m)</span>: <a target="_blank" ng-href="#!/histogram/47900428098331"><span class="value">{{ $ctrl.NP02_DCS_01_TE[69] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0721<span style="font-size: 1.5vmin;"> (3.963m)</span>: <a target="_blank" ng-href="#!/histogram/47900310657819"><span class="value">{{ $ctrl.NP02_DCS_01_TE[62] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0722<span style="font-size: 1.5vmin;"> (3.793m)</span>: <a target="_blank" ng-href="#!/histogram/47900327435035"><span class="value">{{ $ctrl.NP02_DCS_01_TE[63] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0723<span style="font-size: 1.5vmin;"> (3.623m)</span>: <a target="_blank" ng-href="#!/histogram/47900344212251"><span class="value">{{ $ctrl.NP02_DCS_01_TE[64] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0724<span style="font-size: 1.5vmin;"> (3.453m)</span>: <a target="_blank" ng-href="#!/histogram/47900360989467"><span class="value">{{ $ctrl.NP02_DCS_01_TE[65] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0717<span style="font-size: 1.5vmin;"> (2.604m)</span>: <a target="_blank" ng-href="#!/histogram/47900243548955"><span class="value">{{ $ctrl.NP02_DCS_01_TE[58] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0718<span style="font-size: 1.5vmin;"> (2.434m)</span>: <a target="_blank" ng-href="#!/histogram/47900260326171"><span class="value">{{ $ctrl.NP02_DCS_01_TE[59] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0719<span style="font-size: 1.5vmin;"> (2.264m)</span>: <a target="_blank" ng-href="#!/histogram/47900277103387"><span class="value">{{ $ctrl.NP02_DCS_01_TE[60] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0720<span style="font-size: 1.5vmin;"> (2.094m)</span>: <a target="_blank" ng-href="#!/histogram/47900293880603"><span class="value">{{ $ctrl.NP02_DCS_01_TE[61] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td>TE0713<span style="font-size: 1.5vmin;"> (1.247m)</span>: <a target="_blank" ng-href="#!/histogram/47900176440091"><span class="value">{{ $ctrl.NP02_DCS_01_TE[54] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0714<span style="font-size: 1.5vmin;"> (1.077m)</span>: <a target="_blank" ng-href="#!/histogram/47900193217307"><span class="value">{{ $ctrl.NP02_DCS_01_TE[55] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0715<span style="font-size: 1.5vmin;"> (0.907m)</span>: <a target="_blank" ng-href="#!/histogram/47900209994523"><span class="value">{{ $ctrl.NP02_DCS_01_TE[56] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>TE0716<span style="font-size: 1.5vmin;"> (0.737m)</span>: <a target="_blank" ng-href="#!/histogram/47900226771739"><span class="value">{{ $ctrl.NP02_DCS_01_TE[57] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>

    <table id="floor">
        <tr>
            <th colspan="3"><a style="color: gray;" href="#!/floor">Floor temperatures</a></th>
        </tr>
        <tr>
            <td>AIR_08_13: <a target="_blank" href="#!/histogram/47900579093275"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_13 | number: 1 }} &#8490;</span></a> </td>
            <td>AIR_08_14: <a target="_blank" href="#!/histogram/47900595870491"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_14 | number: 1 }} &#8490;</span></a> </td>
            <td>AIR_08_15: <a target="_blank" href="#!/histogram/47900612647707"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_15 | number: 1 }} &#8490;</span></a> </td>
        </tr>
        <tr>
            <td>AIR_08_16: <a target="_blank" href="#!/histogram/47900629424923"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_16 | number: 1 }} &#8490;</span></a> </td>
            <td>AIR_08_17: <a target="_blank" href="#!/histogram/47900646202139"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_17 | number: 1 }} &#8490;</span></a> </td>
            <td>AIR_08_18: <a target="_blank" href="#!/histogram/47900662979355"><span class="value">{{ $ctrl.NP02_DCS_01_AIR_08_18 | number: 1 }} &#8490;</span></a> </td>
        </tr>
    </table>


</div>